<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Sanity Suite">
    <test name="Sanity Tests">
        <groups>
            <run>
                <include name="sanity"/>
            </run>
        </groups>
        <classes>
            <class name="tests.HomePageTest"/>
            <!-- Add more test classes here as needed -->
        </classes>
    </test>
</suite>